[Desktop Entry]
Type=Application
Name=Magnifiqus
GenericName=Screen magnifier
Comment=Screen magnifier
Comment[fr]=Loupe d'écran
Comment[it]=Lente d'ingrandimento dello schermo
Exec=magnifiqus
Icon=magnifiqus
Categories=Qt;KDE;Graphics;Utility;
